* {
    box-sizing: border-box;
}

body {
    background-image: url("https://images.alphacoders.com/236/236891.png");
}

.questionBox,
.heading {
    text-align: center
}

#questionLine{
    font-size: 30px;
}

h1 {
    color: red;
    padding: 10px 0px;
}

.container {
    max-width: 60%;
    height: 100%;
    background-color: white;
    margin: 0 auto;
}

img {
    margin: 0 auto;
}

.buttons {
    text-align: center;
}

.btn {
    background-color: transparent;
    border-radius: 20px;
    display: block;
    margin: 10px auto;
    font-size: 30px;
    padding: 8px;
}

.timerBox {
    text-align: center;
}

#timer {
    font-size: 20px;
}